* {
    box-sizing: border-box;
}

#postage td {
    padding: 10px;
    border: 1px solid black;
}

aside {
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    border: 1px black double;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 6px;
}

aside p {
    padding: 4px;
}

main, fieldset {
    margin: 0 auto;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

fieldset {
    margin-top: 15px;
}

main {
    width: 40%;
    min-height: 100vh;
    padding: 10px;
}

body {
    background-color: cornflowerblue;
}